:root {
  --accent-default: #3c64b1;
  --accent-dark: #1e4693;
  --accent-light: #fbff00;
  --navbar-bg : #f70606;
  --navbar-color : white
}

.circle-bg {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #f4f5f4;
  text-align: center;
}

.navbar-container {
  /* padding: 0 120px; */
  background-color: var(--navbar-bg)
}

.navbar-container-black {
  /* padding: 0 120px; */
  background-color: black
}

.login-text{
  font-size:16px;
  color : white;
  font-weight: bold;
}
.logo-text {
  font-size: 30px;
  font-family: Anton;
  font-weight: bold;
  color:var(--navbar-color);
  font-style: italic;
}

.cat-text {
  font-size: 15px;
  font-family: Roboto;
  font-weight: bold;
  color:var(--navbar-color);
  padding: 15px;

}

.cat-text:hover{
  background-color: rgb(219, 10, 10);
}

.search-bar {
  background-color: var(--gray-lightest);
  padding: 11px 16px;
  border: none;
  font-size: 16px;
  width: 100%;
  outline: none;
  border-bottom: 1px solid white;
  transition: all ease 150ms;
}

.search-bar.active {
  border-bottom: 1px solid var(--accent-default);
}

.cart-margin {
  margin-bottom: -2px;
  margin-left: 7px;
}

.border-bot{
 border-bottom: 5px solid black;
}

.fixed-navbar{
  position: sticky;
}

.height-100{
  min-height: 100%;
}

.input-bar{
  flex: 1;
  align-items: flex-end;
  justify-content: flex-end;
  justify-items: flex-end;
  text-align: right;
  justify-self: right;
}