.carousel-item-home-bg {
  background: rgb(7, 15, 32);
  background: linear-gradient(
    90deg,
    rgba(7, 15, 32, 1) 6%,
    rgba(60, 100, 177, 1) 69%,
    rgba(90, 130, 207, 1) 100%
  );
}

.carousel-item-home {
  width: 100vw;
  height: 600px;

}

.layerButton{
vertical-align: middle;
justify-content: center;
align-items: center;
 
}


.layerBackground{
  z-index: 1;
  position: absolute;
  height: 100px;
}

.btnHover{
  opacity: 0.7;
  border: solid white !important;
}

.btnHover:hover{
  opacity: 0.8 !important;
  border: none !important;
  background-color: black;
  border: none;
}

.rowH{
  height: 500px;
}
.gbr1{
  background-image: url("https://storage.sg.content-cdn.io/in-resources/ff5c6da1-2d74-4846-96c9-ccd65d766244/Images/userimages/home/second-new/Category-Banner_Men.jpg");
  height: 100%;
}
.gbr2{
  background-image: url("https://storage.sg.content-cdn.io/in-resources/ff5c6da1-2d74-4846-96c9-ccd65d766244/Images/userimages/home/second-new/Category-Banner_Women.jpg");
  height: 100%;
}
.gbr3{
  background-image: url("https://storage.sg.content-cdn.io/in-resources/ff5c6da1-2d74-4846-96c9-ccd65d766244/Images/userimages/home/second-new/Category-Banner_Accessories.jpg");
  height: 100%;
}