:root{
  --background-image1: linear-gradient(to top right, rgb(194, 183, 183), rgb(199, 189, 189), rgb(205, 196, 196), rgb(210, 202, 202), rgb(215, 208, 208), rgb(220, 214, 214), rgb(226, 221, 221), rgb(231, 227, 227), rgb(236, 233, 233), rgb(241, 239, 239), rgb(247, 246, 246), rgb(252, 252, 252));
}

.lingkaran {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    opacity: 0.8;
    background-color:bisque;
    padding-top: 5px;
    text-align: center;
    
  }
  
  .bg-color{
    /* background-color: rgb(248, 234, 241);
     */
    background-image: var(--background-image1);
  }

  .inputCustom{
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 4px;
    font-size: 11px;
  }

  .inputCustom:focus{
    border: 1px solid rgb(238, 104, 81);
    box-shadow: 0 0 5px rgba(238, 104, 81, 1);
  }