.sizeBoxBg{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

.test{
    /* height: 20px; */
    background-color:black;
}