table{
  width: 100%;
}
th,td{
  padding-left: 0px;
  margin-left: 0px;
  width: max-content !important;
}

.paddingNol{
    padding: 0 !important;
    margin: 0px !important;
  }

  .tabColor{


  }

  .allSizeBadge{
    
    border: 1px solid black;
    margin-left: -12px;
  }

  .tabActive{
    font-weight: bolder !important;
    border-top-left-radius: 5px ;
    border-top-right-radius: 5px ;
    border-top: 1px solid gainsboro;
    border-left: 1px solid gainsboro;
    border-right: 1px solid gainsboro;


  }